@import './variable.scss';

@import "../layout/Layout.scss";

@import '../components/header/Header.scss';
@import "../components/footer/Footer.scss";
@import "../components//banner/Banner.scss";
@import "../components/card/Card.scss";
@import "../components/collapse/Collapse.scss";
@import "../components/carrousel/Carrousel.scss";
@import "../components/informations/Informations.scss";

@import "../pages/about/About.scss";
@import "../pages/error/Error.scss";
@import '../pages/home/Home.scss';
@import "../pages/logement/Logement.scss";



* {
    box-sizing: border-box;
}


body {
    font-family: $font-primary;
    margin: 0;
    padding: 0;

}

#root {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 100px;

     @media (max-width: 480px) {
        margin: 20px 20px 0 20px;
     }
}