.header-container {
    display: flex;
    justify-content: center;
    margin: 45px 100px 50px 100px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    //padding: 45px 0 50px 0;
}

.menu__list {
    display: flex;
    gap: 57px;
    list-style: none;
    font-size: 24px;
    font-weight: 500;

    & li {
        cursor: pointer;
        
    }

    &--link {
        text-decoration: none;
        color: inherit;
        
        &.active {
            text-decoration: underline;
        }
    }


}
